.App{
    color: #9ea7b3 !important;
    font-family: "Open Sans", Arial, sans-serif !important;
    font-size: 13px !important;
    line-height: 20px;
    overflow-x: hidden !important;
    min-height: 666px;
    z-index: -2;
    margin: 0px !important;
    background-image: url("./images/bg.jpg");
    background-color: rgba(0, 0, 0, 0);
    background-size: auto auto;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}